body {
  padding-top: 100px;
}

.logo {
  padding: 0;
  margin: 0;
  height: 50px;
}

.mynav-right {
  padding: 0;
  margin: 0;
  float: right;
}

.mynav {
  background-color: greenyellow;
  text-align: center;
}

.active-bc {
  background-color: lightseagreen;
}

.my-btn {
  width: 160px;
  margin-left: 20px;
  margin-right: 20px;
}
.mytable {
  text-align: center;
}

.t-header {
  text-align: center;
  background-color: seagreen;
}

tr:nth-child(even) {
  background-color: lightblue;
}
